<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="container">
<div class="row">
    <div class="col-8">
        <h4 class="mb-3">Danh sách hóa đơn chờ</h4>
        <a href="/hoa-don/add" class="btn btn-success"><i class="bi bi-plus-lg"></i>Tạo hóa đơn</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Mã HD</th>
                <th>Tên KH</th>
                <th>Ngày tạo</th>
                <th>Địa chỉ</th>
                <th>Tên NV</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hoaDon : ${hoaDonPage.content}">
                <td th:text="${hoaDon.id}"></td>
                <td th:text="${hoaDon.maHD}"></td>
                <td th:text="${hoaDon.khachHang.hoTen}"></td>
                <td th:text="${hoaDon.ngayTao}"></td>
                <td th:text="${hoaDon.diaChi}"></td>
                <td th:text="${hoaDon.nhanVien.hoTenNV}"></td>
                <td th:text="${hoaDon.trangThai ? 'Đã thanh toán' : 'Chưa thanh toán'}"></td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <!-- Nút trang đầu -->
                <li class="page-item" th:classappend="${hoaDonPage.hasPrevious() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=0|}">Đầu</a>
                </li>

                <!-- Nút trang trước -->
                <li class="page-item" th:classappend="${hoaDonPage.hasPrevious() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${hoaDonPage.number - 1}|}">Trước</a>
                </li>

                <!-- Hiển thị số trang -->
                <li th:each="i : ${#numbers.sequence(hoaDonPage.number,
            (hoaDonPage.number == hoaDonPage.totalPages - 1) ? hoaDonPage.number :
            (hoaDonPage.number + 2 > hoaDonPage.totalPages - 1 ? hoaDonPage.totalPages - 1 : hoaDonPage.number + 2))}"
                    th:classappend="${(i < 0 || i >= hoaDonPage.totalPages) ? 'disabled' : (i == hoaDonPage.number ? 'active' : '')}"
                    class="page-item">
                    <a th:href="@{|/swekle/ban-hang/hien-thi?page=${i}|}" class="page-link" th:text="${i + 1}"></a> <!-- Cộng thêm 1 để hiển thị số trang bắt đầu từ 1 -->
                </li>

                <!-- Nút trang sau -->
                <li class="page-item" th:classappend="${hoaDonPage.hasNext() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${hoaDonPage.number + 1}|}">Sau</a>
                </li>

                <!-- Nút trang cuối -->
                <li class="page-item" th:classappend="${hoaDonPage.hasNext() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${hoaDonPage.totalPages - 1}|}">Cuối</a>
                </li>
            </ul>
        </div>
        <br>
        <h4 class="mb-3">Danh sách sản phẩm trong hóa đơn</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Tên sản phẩm</th>
                <th>Màu sắc</th>
                <th>Size</th>
                <th>Chất liệu</th>
                <th>Giá bán</th>
                <th>Số lượng mua</th>
                <th>Tổng tiền</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hdct : ${hdctPage.content}">
                <td th:text="${hdct.chiTietSanPham.id}"></td>
                <td th:text="${hdct.chiTietSanPham.tenSP}"></td>
                <td th:text="${hdct.chiTietSanPham.tenMau}"></td>
                <td th:text="${hdct.chiTietSanPham.tenSize}"></td>
                <td th:text="${hdct.chiTietSanPham.tenCL}"></td>
                <td th:text="${hdct.giaBan}"></td>
                <td th:text="${hdct.soLuongMua}"></td>
                <td th:text="${hdct.tongTien}"></td>
                <td>
                    <a href="#"><i class="bi bi-trash3-fill" style="color: #DC3545"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <!-- Nút trang đầu -->
                <li class="page-item" th:classappend="${hdctPage.hasPrevious() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=0|}">Đầu</a>
                </li>

                <!-- Nút trang trước -->
                <li class="page-item" th:classappend="${hdctPage.hasPrevious() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${hdctPage.number - 1}|}">Trước</a>
                </li>

                <!-- Hiển thị số trang -->
                <li th:each="i : ${#numbers.sequence(hdctPage.number,
            (hdctPage.number == hdctPage.totalPages - 1) ? hdctPage.number :
            (hdctPage.number + 2 > hdctPage.totalPages - 1 ? hdctPage.totalPages - 1 : hdctPage.number + 2))}"
                    th:classappend="${(i < 0 || i >= hdctPage.totalPages) ? 'disabled' : (i == hdctPage.number ? 'active' : '')}"
                    class="page-item">
                    <a th:href="@{|/swekle/ban-hang/hien-thi?page=${i}|}" class="page-link" th:text="${i + 1}"></a> <!-- Cộng thêm 1 để hiển thị số trang bắt đầu từ 1 -->
                </li>

                <!-- Nút trang sau -->
                <li class="page-item" th:classappend="${hdctPage.hasNext() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${hdctPage.number + 1}|}">Sau</a>
                </li>

                <!-- Nút trang cuối -->
                <li class="page-item" th:classappend="${hdctPage.hasNext() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${hdctPage.totalPages - 1}|}">Cuối</a>
                </li>
            </ul>
        </div>
        <br>
        <h4 class="mb-3">Danh sách sản phẩm</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Tên sản phẩm</th>
                <th>Màu sắc</th>
                <th>Size</th>
                <th>Chất liệu</th>
                <th>Giá bán</th>
                <th>Số lượng tồn</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ctsp : ${ctspPage.content}">
                <td th:text="${ctsp.id}"></td>
                <td th:text="${ctsp.sanPham.tenSP}"></td>
                <td th:text="${ctsp.mauSac.tenMau}"></td>
                <td th:text="${ctsp.size.tenSize}"></td>
                <td th:text="${ctsp.chatLieu.tenCL}"></td>
                <td th:text="${ctsp.convertGiaBan}"></td>
                <td th:text="${ctsp.soLuongTon}"></td>
                <td>
                    <a href="#" class="btn btn-primary" th:onclick="|return submitInput('${ctsp.id}')|"><i class="bi bi-cart-plus"></i>Mua</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <!-- Nút trang đầu -->
                <li class="page-item" th:classappend="${ctspPage.hasPrevious() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=0|}">Đầu</a>
                </li>

                <!-- Nút trang trước -->
                <li class="page-item" th:classappend="${ctspPage.hasPrevious() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${ctspPage.number - 1}|}">Trước</a>
                </li>

                <!-- Hiển thị số trang -->
                <li th:each="i : ${#numbers.sequence(ctspPage.number,
            (ctspPage.number == ctspPage.totalPages - 1) ? ctspPage.number :
            (ctspPage.number + 2 > ctspPage.totalPages - 1 ? ctspPage.totalPages - 1 : ctspPage.number + 2))}"
                    th:classappend="${(i < 0 || i >= ctspPage.totalPages) ? 'disabled' : (i == ctspPage.number ? 'active' : '')}"
                    class="page-item">
                    <a th:href="@{|/swekle/ban-hang/hien-thi?page=${i}|}" class="page-link" th:text="${i + 1}"></a> <!-- Cộng thêm 1 để hiển thị số trang bắt đầu từ 1 -->
                </li>

                <!-- Nút trang sau -->
                <li class="page-item" th:classappend="${ctspPage.hasNext() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${ctspPage.number + 1}|}">Sau</a>
                </li>

                <!-- Nút trang cuối -->
                <li class="page-item" th:classappend="${ctspPage.hasNext() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{|/swekle/ban-hang/hien-thi?page=${ctspPage.totalPages - 1}|}">Cuối</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-4">
        <h4 class="mb-3">Tạo hóa đơn</h4>
        <div class="card">
            <div class="card-body">
                <form action="/swekle/ban-hang/tao-hoa-don" method="get" th:object="${hoaDon}">
                    <div class="mb-3">
                        <label class="form-label">Tên khách hàng</label>
                        <select class="form-select" name="khachHang" th:field="*{khachHang.id}">
                            <option th:each="khachHang : ${listKH}"
                                    th:value="${khachHang.id}"
                                    th:text="${khachHang.hoTen}"
                                    selected></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mã hóa đơn</label>
                        <input type="text" class="form-control" th:field="*{maHD}" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngày tạo</label>
                        <input type="text" class="form-control" th:field="*{ngayTao}" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tổng tiền</label>
                        <input type="number" class="form-control" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tiền khách đưa</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tiền thừa</label>
                        <input type="number" class="form-control" disabled>
                    </div>
                    <button type="submit" class="btn btn-primary">Thanh toán</button>
                </form>
            </div>
        </div>

    </div>
</div>

<script>
    function submitInput(id) {
        console.log("da chay vao day " + id);
        let soLuong = prompt("Nhap so luong can mua: ");
        if (soLuong === null || soLuong.trim() === "") {
            alert("Bạn chưa nhập dữ liệu!");
            return false;
        }
        console.log(soLuong);
        window.location.href = "/them-gio-hang?chiTietSanPham=" + encodeURIComponent(id)
            + "&soLuong=" + encodeURIComponent(soLuong);
        return false;
    }
</script>
</body>
</html>