<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<style>
    a{
        margin: 10px;
    }

</style>
<body class="container">
<h4>Danh sách sản phẩm</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Mã SP</th>
        <th>Tên SP</th>
        <th>Ảnh</th>
        <th>Mô tả</th>
        <th>Trạng thái</th>
        <th>Tên danh mục</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sanPham : ${sanPhamPage.content}">
        <td th:text="${sanPham.id}"></td>
        <td th:text="${sanPham.maSP}"></td>
        <td th:text="${sanPham.tenSP}"></td>
<!--        <td th:text="${sanPham.anh}"></td>-->
        <td>
            <img th:src="@{/img/{imageName}(imageName=${sanPham.anh})}" alt="Ảnh nhân viên" class="img-thumbnail" width="50" height="50">
        </td>
        <td th:text="${sanPham.moTa}"></td>
        <td th:text="${sanPham.trangThai ? 'Hoạt động' : 'Không hoạt động'}"></td>
        <td th:text="${sanPham.danhMuc.tenDanhMuc}"></td>
        <td>
            <a th:href="@{|/swekle/san-pham/view-update/${sanPham.id}|}"><i class="bi bi-pencil-square" style="color: #FFCA2C"></i></a>
            <a th:href="@{|/swekle/san-pham/delete/${sanPham.id}|}"><i class="bi bi-trash3-fill" style="color: #DC3545"></i></a>
            <a th:href="@{|/swekle/san-pham/chi-tiet/${sanPham.id}|}"><i class="bi bi-eye-fill" style="color: #0D6EFD"></i></a>
        </td>
    </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <ul class="pagination">
        <!-- Nút trang đầu -->
        <li class="page-item" th:classappend="${sanPhamPage.hasPrevious() ? '' : 'disabled'}">
            <a class="page-link" th:href="@{|/swekle/san-pham/hien-thi?page=0|}">Đầu</a>
        </li>

        <!-- Nút trang trước -->
        <li class="page-item" th:classappend="${sanPhamPage.hasPrevious() ? '' : 'disabled'}">
            <a class="page-link" th:href="@{|/swekle/san-pham/hien-thi?page=${sanPhamPage.number - 1}|}">Trước</a>
        </li>

        <!-- Hiển thị số trang -->
        <li th:each="i : ${#numbers.sequence(sanPhamPage.number,
            (sanPhamPage.number == sanPhamPage.totalPages - 1) ? sanPhamPage.number :
            (sanPhamPage.number + 2 > sanPhamPage.totalPages - 1 ? sanPhamPage.totalPages - 1 : sanPhamPage.number + 2))}"
            th:classappend="${(i < 0 || i >= sanPhamPage.totalPages) ? 'disabled' : (i == sanPhamPage.number ? 'active' : '')}"
            class="page-item">
            <a th:href="@{|/swekle/san-pham/hien-thi?page=${i}|}" class="page-link" th:text="${i + 1}"></a> <!-- Cộng thêm 1 để hiển thị số trang bắt đầu từ 1 -->
        </li>

        <!-- Nút trang sau -->
        <li class="page-item" th:classappend="${sanPhamPage.hasNext() ? '' : 'disabled'}">
            <a class="page-link" th:href="@{|/swekle/san-pham/hien-thi?page=${sanPhamPage.number + 1}|}">Sau</a>
        </li>

        <!-- Nút trang cuối -->
        <li class="page-item" th:classappend="${sanPhamPage.hasNext() ? '' : 'disabled'}">
            <a class="page-link" th:href="@{|/swekle/san-pham/hien-thi?page=${sanPhamPage.totalPages - 1}|}">Cuối</a>
        </li>
    </ul>
</div>
</body>
</html>